{% extends 'base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="blog-article-h1">
    <h1>UX/UI дизайнер</h1> </div>
     <article class="blog-article">
        <div class="article-content">
            <p>UI/UX-дизайнер — это специалист, создающий интерфейсы.
                User interface (UI) соединяет механику и функциональность продукта с человеком, его использующим.
                Поэтому дизайнер, который работает с интерфейсами, должен все время задавать себе вопросы: все ли понятно пользователю,
                зачем ему та или иная функция, что он ищет и в какой ситуации и так далее.</p>
            <p>Иначе говоря, дизайнер встает на место пользователя, тестирует фичи — функции и особенности,
                пытается предугадать проблемы. Поэтому также существует понятие user experience (UX). В больших компаниях
                этим занимается отдельный специалист, который исследует целевую аудиторию вместе с продуктовым дизайнером,
                продюсером, гейм-дизайнером или директором — в зависимости от размера и сферы работы компании. UX-дизайнер
                продумывает интерфейсы, выстраивает схемы взаимодействия, устанавливает порядок экранов, работает с фокус-группами,
                пишет отчеты, защищает работу перед директорами, а затем отдает на отрисовку. Причем продуктами могут быть
                не только мобильные приложения, но и одежда, обувь, техника, игры, кабины пилотов, интерфейсы машин, зданий и так далее.
            </p>
        </div>
      </article>
    <div class="blog-article-img">
    <img src ="{% static 'polls/images/uxui.png' %}" width="600" height="252" alt="ui/ux">
    </div>
    <div>
        <article class="blog-article">
        <div class="article-content">
            <p>
                Основные требования к UX/UI-дизайнеру.
                <ul>
                    <li>
                        Свободное владение тулами прототипирования: самый популярный сейчас Figma, чуть
                        менее — Sketch, Illustrator, Adobe XD и др.
                    </li>
                    <li>Опыт отрисовки UI-элементов, иллюстраций, иконок.</li>
                    <li>Владение основами типографики и композиции.</li>
                    <li>Способность к генерации и визуализации интерфейсных решений.</li>
                    <li>Понимание принципов usability и адаптивности веб-интерфейсов.</li>
                    <li>Умение пользоваться инструментами Story Map, Customer Journey Map, User Story.</li>
                    <li>Навыки верстки, знание языков HTML и CSS.</li>
                    <li>Знание гайдлайнов для мобильной разработки Material Design Human Interface Guidelines.</li>
                    <li>Понимание технологий frontend-разработки.</li>
                </ul>
            </p>
            <p>При этом среди требований не встречаются профессиональные скиллы в рисунке — куда важнее уметь работать
                со специальным софтом. Дизайнер должен обладать вкусом, уметь работать с абстракциями и воплощать идеи в
                реальность, но ему совершенно не обязательно для этого оканчивать художественную школу или училище.
            </p>
        </div>
      </article>
    </div>
    <div class="blog-article-img">
    <img src ="{% static 'polls/images/uxuihuman.jpg' %}" width="600" height="252" alt="ui/ux">
    </div>

{% endblock %}
