{% extends 'base.html' %}
{% load static %}

{% block title %}Навыки{% endblock %}

{% block content %}
 <h1>ТОП-10 навыков UX/UI дизайнера по годам</h1>
    <div class="blog-article-img">
        <img  src ="{% static 'polls/images/TOP_10.png' %}" width="400" height="300" alt="ui/ux">
    </div>
    <table border="1" cellpadding="0" cellspacing="0" width="850" style="border-collapse: collapse;table-layout:fixed;width:auto">
        <thead>
            <tr class="col">
                <th></th>
                <th bgcolor="#f17a0a">2015</th>
                <th bgcolor="#f17a0a">2016</th>
                <th bgcolor="#f17a0a">2017</th>
                <th bgcolor="#f17a0a">2018</th>
                <th bgcolor="#f17a0a">2019</th>
                <th bgcolor="#f17a0a">2020</th>
                <th bgcolor="#f17a0a">2021</th>
                <th bgcolor="#f17a0a">2022</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th bgcolor="#f17a0a">1</th>
                <td align="center">MySQL</td>
                <td align="center">Adobe Photoshop</td>
                <td align="center">Git</td>
                <td align="center">Git</td>
                <td align="center">Git</td>
                <td align="center">Git</td>
                <td align="center">Git</td>
                <td align="center">Adobe Photoshop</td>
            </tr>
            <tr>
                <th bgcolor="#f17a0a">2</th>
                <td align="center">Git</td>
                <td align="center">Git</td>
                <td align="center">JavaScript</td>
                <td align="center">JavaScript</td>
                <td align="center">JavaScript</td>
                <td align="center">JavaScript</td>
                <td align="center">JavaScript</td>
                <td align="center">Git</td>
            </tr>
                <tr>
                    <th bgcolor="#f17a0a">3</th>
                    <td align="center">JavaScript</td>
                    <td align="center">JavaScript</td>
                    <td align="center">MySQL</td>
                    <td align="center">MySQL</td>
                    <td align="center">MySQL</td>
                    <td align="center">MySQL</td>
                    <td align="center">Python</td>
                    <td align="center">Adobe Illustrator</td>
                </tr>
                <tr>
                    <th bgcolor="#f17a0a">4</th>
                    <td align="center">HTML</td>
                    <td align="center">MySQL</td>
                    <td align="center">PHP</td>
                    <td align="center">HTML</td>
                    <td align="center">HTML</td>
                    <td align="center">Python</td>
                    <td align="center">MySQL</td>
                    <td align="center">Графический дизайн</td>
                    </tr>
                <tr>
                    <th bgcolor="#f17a0a">5</th>
                    <td align="center">PHP</td>
                    <td align="center">HTML</td>
                    <td align="center">HTML</td>
                    <td align="center">CSS</td>
                    <td align="center">PHP</td>
                    <td align="center">SQL</td>
                    <td align="center">PostgreSQL</td>
                    <td align="center">JavaScript</td>
                </tr>
                <tr>
                    <th bgcolor="#f17a0a">6</th>
                    <td align="center">jQuery</td>
                    <td align="center">PHP</td>
                    <td align="center">CSS</td>
                    <td align="center">PHP</td>
                    <td align="center">CSS</td>
                    <td align="center">PostgreSQL</td>
                    <td align="center">SQL</td>
                    <td align="center">Python</td>
                </tr>
                <tr>
                    <th bgcolor="#f17a0a">7</th>
                    <td align="center">CSS</td>
                    <td align="center">CSS</td>
                    <td align="center">Adobe Photoshop</td>
                    <td align="center">SQL</td>
                    <td align="center">SQL</td>
                    <td align="center">PHP</td>
                    <td align="center">HTML</td>
                    <td align="center">SQL</td>
                </tr>
                <tr>
                    <th bgcolor="#f17a0a">8</th>
                    <td align="center">HTML5</td>
                    <td align="center">jQuery</td>
                    <td align="center">HTML5</td>
                    <td align="center">HTML5</td>
                    <td align="center">Python</td>
                    <td align="center">HTML</td>
                    <td align="center">Adobe Photoshop</td>
                    <td align="center">PostgreSQL</td>
                </tr>
                <tr>
                    <th bgcolor="#f17a0a">9</th>
                    <td align="center">SQL</td>
                    <td align="center">Web-дизайн</td>
                    <td align="center">SQL</td>
                    <td align="center">Администрирование серверов Linux</td>
                    <td align="center">Администрирование серверов Linux</td>
                    <td align="center">CSS</td>
                    <td align="center">Английский язык</td>
                    <td align="center">CSS</td>
                </tr>
                <tr>
                    <th bgcolor="#f17a0a">10</th>
                    <td align="center">PHP5</td>
                    <td align="center">Графический дизайн</td>
                    <td align="center">PostgreSQL</td>
                    <td align="center">jQuery</td>
                    <td align="center">Adobe Photoshop</td>
                    <td align="center">Администрирование серверов Linux</td>
                    <td align="center">Администрирование серверов Linux</td>
                    <td align="center">HTML</td>
                </tr>
            </tbody>
    </table>
    </div>
{% endblock %}